@model SR78POS.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SaleUnit" class="control-label"></label>
                <select asp-for="SaleUnit" class ="form-control" asp-items="ViewBag.SaleUnit"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barcode" class="control-label"></label>
                <input asp-for="Barcode" class="form-control" />
                <span asp-validation-for="Barcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnHand" class="control-label"></label>
                <input asp-for="OnHand" class="form-control" />
                <span asp-validation-for="OnHand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered" id="t1">
            <thead>
                <tr>
                    <th style="width:250px">Unit</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
        <button id="AddRow" class="btn btn-primary">
            <i class="fa fa-plus"></i> Add
        </button>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    var options = "";
    $(document).ready(function () {
        $("#AddRow").click(function () {
            var row = "<tr><td><select class='form-control' name='unit[]'>" + options + "</select></td>";
            row += "<td><input class='form-control' name='price[]'/></td>";
            row += "<td><button class='btn btn-danger'><i class='fa fa-trash'></i></button></td></tr>";
            $("#t1").append(row);
        });
        $.ajax({
            method: "GET",
            contentType: "application/json",
            url: "GetUnits",
            success: function (v) {
                console.log(v);
                $.each(v, function (i, v1) {
                    console.log(v1);
                    options += "<option value='" + v1.unitId +"'>" + v1.unitName +"</option>";
                });
            },
            error: function (error) {
                console.log(error)
            }
        });
    });
</script>
}
